#checker {
    max-width: 600px;
}

#checker .controls {
    display: flex;
}

#checker .controls input[type="email"] {
    flex: 1;
    margin-right: 10px;
}

#checker ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

#checker li::before {
    padding: 0 10px;
    width: 30px;
    display: inline-block;
    text-align: right;
}

#checker .info::before {
    content:"ℹ️";
}

#checker .success::before {
    content:"✔️"
}

#checker .warning::before {
    content:"⚠️"
}

#checker .error::before {
    content:"❌"
}
