code, div.highlight>pre {
    font-family: 'Roboto Mono';
}

.top-carousel-content {
    display: flex;
    align-items: center;
}

.home-carousel .owl-carousel {
    padding: 20px;
}

.top-carousel-content img, .top-carousel-content pre {
    margin: 0 auto;
}

@media (min-width: 992px) {
    .box-simple {
        /* The features boxes have a bit too much space at the bottom.  */
        margin-bottom: 0;
    }
}

pre.screenshot {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
}

pre.screenshot .sh-prompt {
    color: darkgreen;
    font-weight: bold;
}

pre.screenshot .sh-command {
    color: green;
    font-weight: bold;
}

/* The icon class has a white border that partially obstructs the text
   in the quotations.  Drop that.  */
.testimonials div.icon {
    border: none;
}

/* The theme indicates links only using color and underline only on
   hover.  This makes links containing <code> hard to discover.  To
   work around that, underline <code> in links.  */
a > code {
    text-decoration: underline;
}

/* Nice quotations in the blog posts.  */
figure.quote {
    margin: 2em 0;
}

figure.quote > img {
    float: right;
    border-radius: 30px;
}

figure.quote > blockquote {
    font-size: xx-large;
    min-height: 68px;
}

figure.quote > figcaption {
    clear: both;
    text-align: right;
}

.portrait-right img {
    transform: scaleX(-1);
}
