h1 > a.anchor,
h2 > a.anchor,
h3 > a.anchor,
h4 > a.anchor,
h5 > a.anchor {
    visibility: hidden;
}

h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor {
    visibility: visible;
}

h1 > a.anchor::after,
h2 > a.anchor::after,
h3 > a.anchor::after,
h4 > a.anchor::after,
h5 > a.anchor::after {
    content: "¶";
}
