p.portrait-intro {
    font-weight: bold;
    margin-bottom: 3em;
}

div.portrait {
    margin: 2em 0;
}

@media (max-width: 767px) {
    div.portrait {
	margin: 5em 0;
    }

    /* Pull portraits to the right.  */
    div.portrait-right > div {
	text-align: right;
    }
    /* But keep text left-aligned.  */
    div.portrait-right > div > p{
	text-align: left;
    }
}
