div.project div.buttons {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
div.project div.buttons div {
    margin: .7em .5em;
}
div.project div.buttons a {
    padding: .5em;
    border: solid 1px lightgray;
    border-radius: 5px;
}
div.project div.buttons a:hover {
    border: solid 1px gray;
}
div.project div.buttons a i:before {
    margin-right: .5em;
}
