.ribbon {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 10em;
    width: 10em;
    overflow: hidden;
}

.ribbon div {
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    width: 32em;
    z-index: 12345;
    transform: translateX(30%) translateY(0%) rotate(-45deg);
    transform-origin: bottom;
    background: #ffd700;
}

.ribbon div div {
    background: #0057b8;
    height: 1em;
    transform: initial;
}

.ribbon a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
