{{ $right := false }}
{{ range sort .Site.Data.community ".sort_order" }}
{{ if not .emeritus }}
{{ $right = not $right }}
<div class="row portrait{{ if $right }} portrait-right{{ end }}">
  <div class="col-md-3{{ if $right }} col-md-push-9{{ end }}">
    <img src="/img/portraits/{{ .portrait }}" title="{{ .name }}" />
  </div>
  <div class="col-md-9{{ if $right }} col-md-pull-3{{ end }}">
    <h2>{{ .name }}</h2>
    <p>
      {{ .description | safeHTML }}
    </p>
    {{ if .pep }}
    <p>
      {{ with .name }}
      {{ . }}'{{ if strings.HasSuffix . "s" | not }}s{{ end }}
      work is being funded by the
      <a href="https://pep.foundation">p≡p foundation</a>.
      {{ end }}
    </p>
    {{ end }}
    {{ if .fpr }}
    <p>
      OpenPGP certificate: <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/{{ .fpr }}">{{ .fpr }}</a>.
    </p>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}

<h1 id="hacker-emeritus">Hacker Emeritus</h1>

{{ range sort .Site.Data.community ".sort_order" }}
{{ if .emeritus }}
{{ $right = not $right }}
<div class="row portrait{{ if $right }} portrait-right{{ end }}">
  <div class="col-md-3{{ if $right }} col-md-push-9{{ end }}">
    <img src="/img/portraits/{{ .portrait }}" title="{{ .name }}" />
  </div>
  <div class="col-md-9{{ if $right }} col-md-pull-3{{ end }}">
    <h2>{{ .name }}</h2>
    <p>
      {{ .description | safeHTML }}
    </p>
    {{ if .pep }}
    <p>
      {{ with .name }}
      {{ . }}'{{ if strings.HasSuffix . "s" | not }}s{{ end }}
      work was funded by the
      <a href="https://pep.foundation">p≡p foundation</a>.
      {{ end }}
    </p>
    {{ end }}
    {{ if .fpr }}
    <p>
      OpenPGP certificate: <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/{{ .fpr }}">{{ .fpr }}</a>.
    </p>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}
