<div class="project">
  {{ with .Get "name" }}
  <h3>
    {{ . }}
    <a class="anchor" name="{{ anchorize . }}" href="#{{ anchorize . }}"
       title="Link to this paragraph."></a>
  </h3>
  {{ end }}
  {{ with .Get "summary" }}
  <p>
    {{ . | safeHTML }}
  </p>
  {{ end }}
  {{ with .Get "description" }}
  <p>
    {{ . | safeHTML }}
  </p>
  {{ end }}
  <div class="buttons">
    {{ with .Get "homepage" }}
    <div>
      <a href="{{.}}"><i class="fas fa-home">Homepage</i></a>
    </div>
    {{ end }}
    {{ with .Get "repo" }}
    <div>
      <a href="{{.}}"><i class="fas fa-code">Repository</i></a>
    </div>
    {{ end }}
    {{ with .Get "crate" }}
    <div>
      <a href="https://crates.io/crates/{{.}}">
	<i class="fas fa-archive">Crate</i>
      </a>
    </div>
    {{ end }}
    {{ with .Get "docs" }}
    <div>
      <a href="{{.}}"><i class="fas fa-book">Documentation</i></a>
    </div>
    {{ end }}
    {{ with .Get "guide" }}
    <div>
      <a href="{{.}}"><i class="fas fa-map">Guide</i></a>
    </div>
    {{ end }}
    {{ with .Get "bugs" }}
    <div>
      <a href="{{.}}"><i class="fas fa-bug">Issues</i></a>
    </div>
    {{ end }}
    {{ with .Get "status" }}
    <div>
      <a href="{{.}}"><i class="fas fa-percent">Status</i></a>
    </div>
    {{ end }}
    {{ with .Get "contribute" }}
    <div>
      <a href="{{.}}"><i class="fas fa-hands-helping">Contribute</i></a>
    </div>
    {{ end }}
    {{ with .Get "donate" }}
    <div>
      <a href="{{.}}"><i class="fas fa-donate">Donate</i></a>
    </div>
    {{ end }}
  </div>
</div>
